html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6EFF5;
}
.background{
    width: 800px;
    height: 450px;
    background-color: #b1cad4;
    display: inline-block;
}
.title-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.title{
    margin-top:4px;
    margin:20px;
    color: #ffffff;
    padding: 10px;
}
table {
    margin-left: 40px;
    margin-top: 10px;
    width: 90%;
    height: 200px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}
td {
    border: 1px solid cornflowerblue;
    padding: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: #ffffff;
}
tr:last-child td {
    border-bottom: 0 !important;
}
.shoes{
    width: 60px;
    align-items: center;
}
/* 버튼 및 하단 영역 정렬 */
.footer {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽에 각각 배치 */
    align-items: center;
    margin: 20px 40px; /* 필요에 따라 여백 조절 */
  }
  
  .page {
    text-decoration: none;
    color: #0056b3;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0F355A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }