.container {
  width: 1000px;
  height: 500px;
  display: flex; /* Flexbox 적용 */
  justify-content: space-between; /* 좌우 정렬 */
  align-items: flex-start; /* 상단 정렬 */
}

.left-container {
  width: 75%;
  height: 80%;
}

.left-top {
  width: 100%;
  height: 30%;
}

.logo {
  width: 5%;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 100%;
}

.writter {
  text-align: left;
  margin-left: 70px;
  margin-top: -50px;
}

.time {
  margin-left: 70px;
  margin-top: -11px;
  font-size: 13px;
  color: gray;
}

.title {
  margin-left: 20px;
  margin-top: -40px;
}

.left-middle {
  width: 100%;
  height: 30%;
}

.content {
  margin-left: 20px;
  margin-top: -70px;
  font-size: 13px;
  color: gray;
}

.left-middle2 {
  width: 100%;
  height: 30%;
}

.left-footer {
  width: 100%;
  height: 30%;
}

.logo2 {
  display: block;
  margin-left: auto;
  margin-top: -50px;
  width: 35px;
}

.right-container {
  width: 25%;
  height: 96%;
}

.right-logo {
  width: 85%;
  margin-left: 10px;
}
