$main-color: #3e986d;
$sub-color: #f1c40f;
$basic-size: 16px;
$basic-border: 15px;

.box {
  width: 100px;
  height: 100px;
  background-color: $sub-color;
  text-align: center;
  line-height: 100px;
  font-size: $basic-size - 5px;
  border-radius: $basic-border;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: $main-color;
  text-align: center;
  line-height: 200px;
  font-size: $basic-size + 10px;
}
