.pseudo::first-letter {
  color: red;
  font-size: 30px;
}
.pseudo::before {
  color: blue;
  font-size: 20px;
}
.pseudo::after {
  content: '하이';
  color: green;
  font-size: 20px;
}
.pseudo-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pseudo-container::after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
.input-file::file-selector-button {
  background-color: rgb(35, 27, 251);
  border: none;
  color: aliceblue;
}
.input-file::file-selector-button:hover {
  background-color: rgb(107, 166, 130);
  border: none;
  color: aliceblue;
}
.ribbon {
  font-size: 16px !important;

  width: 50%;

  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
ol > li {
  position: relative; /* 상대 위치 지정 (번호를 배치하기 위해) */
  margin: 0 0 6px 2em; /* 왼쪽 마진을 추가하여 숫자 공간 확보 */
  padding: 4px 8px; /* 내부 여백 추가 */
  list-style: none; /* 기본 숫자 제거 */
  border-top: 2px solid #666; /* 상단 테두리 추가 */
  background: #f6f6f6; /* 배경색 */
}
ol > li:before {
  content: counter(li); /* 카운터 값 표시 */
  counter-increment: li; /* li 카운터 증가 */
  position: absolute;
  top: -2px;
  left: -2em;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #666;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}
li ol,
li ul {
  margin-top: 6px;
}
ol ol li:last-child {
  margin-bottom: 0;
}
