.wrapper {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 사용 */
}
.wrapper div {
    margin: 10px 0; /* 위아래 간격 추가 */
}
.wrapper div i {
background-color: burlywood;
width: 100px;
height: 100px;
border-radius: 50px;
display: flex;  /* flexbox 활성화 */
justify-content: center;  /* 수평 정렬 */
align-items: center;  /* 수직 정렬 */
color: white;
font-size: 70px;  /* 아이콘 크기 조절 */
}

.title{
    font-size: x-large;
    font-weight: 800;
}
.content{
    font-size: larger;
    font-weight: 500;
}
.orange{
    color:rgba(255, 166, 0, 0.918);
}
.green{
    color:green;
}
.blue{
    color:blue;
}